@charset "utf-8";
/* 
*/                                                                         
* { margin: 0; padding: 0; outline: 0; }
ul, li { list-style: none; }
a img, fieldset { border: 0; }
img { display: block; }
input[type="submit"] { cursor: pointer; }
p { padding: 18px 0; }
html, body, body * { -webkit-transform: translateZ(0); }
body { font-family: "Cabin", "Helvetica Neue", Arial, "Nimbus Sans L", FreeSans; font-size: 18px; font-smooth: always; color: #000; -webkit-font-smoothing: antialiased; }
.clr { height: 0; font-size: 0; line-height: 0; clear: both; }
* html .clrd { height: 1%; overflow: visible; }
*+html .clrd { min-height: 1%; }
.clrd:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.clrL { clear: left; }
a { -webkit-transition-property: all; -webkit-transition-duration: 300ms; -webkit-transition-timing-function: ease; -moz-transition-property: all; -moz-transition-duration: 300ms; -moz-transition-timing-function: ease; transition-property: all; transition-duration: 300ms; transition-timing-function: ease; }
select { display: block; background: #fff url(../images/main_dropdown_ico.png) no-repeat scroll right center!important; padding-top: 0px; padding-bottom: 0px!important; padding-left: 0px; padding-right: 0px; line-height: 1.5em; border: none 0; -webkit-appearance: none; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 16px; font-smooth: always; color: #213759; ; cursor: pointer; padding-top:.1em\0/;
padding-bottom:.1em\0/!important;
*margin-top: -1px;
}
@-moz-document url-prefix() {
 select {
margin-top: 1px;
background: #fff!important;
}
option {
background: #fff;
}
#promo .apply input[type=text] {
padding-bottom: 8px;
}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
select { padding-left: 2px; padding-right: 16px; }
}
#CrmWin select { padding-left: 1px; margin-top: -1px; }
#FfWin select { margin-top: 0px; }
input[type=text], input[type=password], textarea { font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #000; background: none transparent; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding: 12px 10px; border: solid 1px #000; }
textarea { overflow-y: auto; overflow-x: hidden; padding-right: 2px; }
input[type=submit] { -webkit-appearance: button; }
.hidden { display: none; }
.c1 { color: #c3ccdf; }
#mainHeader { background: #2e528a; color: #fff; height: 60px; }
.ctr { width: 950px; margin: 0 auto; }
#mainLogo { background: url(../images/main_logo.png); height: 48px; width: 400px; text-indent: -4000px; display: block; float: left;  }
#mainHdrTop .rgt { float: right; }
#mainHdrTop .rgt #social { padding-top: 13px; height: 20px; }
#mainHdrTop .rgt #social iframe { float: right; }
#mainHdrTop .rgt #social .fb_iframe_widget { float: right; }
#mainHdrTop .rgt ul { display: block; clear: both; text-align: right; padding-top: 13px; }
#mainHdrTop .rgt ul li { display: inline; font-size: 24px; line-height: 16px; color: #fff; }
#mainHdrTop .rgt ul li a { color: #fff; text-decoration: underline; }
#mainHdrTop .rgt ul li a:hover { text-decoration: none; }
.socials .fbk .soc { background: url(../images/main_like_btn.png) repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; display: block; float: left; height: 20px; overflow: hidden; width: 49px; }
.socials .soc span, #mainBtmCont .socials .soc span * { float: left; opacity: 0; }
.socials .soc:hover { opacity: 0.75; }
.socials .counter { background: url(../images/main_like_cnt_lft.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0); color: #444444; display: block; float: left; font-size: 11px; line-height: 20px; padding-left: 5px; }
.socials .counter span { background: url(../images/main_like_count_rgt.png) no-repeat scroll right top rgba(0, 0, 0, 0); float: left; padding-right: 3px; }
.socials .counter span span { background: url(../images/main_like_count_rpt.png) repeat-x scroll 0 0 rgba(0, 0, 0, 0); padding-left: 3px; }
.socials { height: 28px; float: right; padding-top: 5px; }
.socials .fbk { float: right; padding-right: 0px; padding-top: 2px; }
.socials .fbkL .soc { background: url(../images/main_send_btn.html) no-repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; float: left; height: 20px; overflow: hidden; width: 51px; }
#mainCont { background: #2e528a; }
#mainLft { float: left; width: 422px; position: relative; height: 592px; }
#tmbSlide { display: block; }
#tmbSlide li { display: block; position: absolute; left: 0px; top: 0px;  opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; -webkit-transition-property: all; -webkit-transition-duration: 300ms; -webkit-transition-timing-function: ease; -moz-transition-property: all; -moz-transition-duration: 300ms; -moz-transition-timing-function: ease; transition-property: all; transition-duration: 300ms; transition-timing-function: ease; }
#tmbSlide li.cur { opacity: 1; filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -khtml-opacity: 1; -moz-opacity: 1;}
#mainContTop #mainRgt { float: left; width: 528px; overflow: hidden; }
#mainRgt .title1 { display: block; line-height: 74px; padding: 0px; text-align: center; font-size: 28px; font-weight: bold; color: #fdce6c; height: 74px; overflow: hidden; }
#mainRgt .your { display: block; font-size: 44px; text-align: center; color: #213759; text-shadow: 0 1px 0 #fd7; line-height: 60px; padding: 24px 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background: #ffc342; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffde77) to(#ffc342)); background: -webkit-linear-gradient(#ffde77, #ffc342); background: -moz-linear-gradient(#ffde77, #ffc342); background: -ms-linear-gradient(#ffde77, #ffc342); background: -o-linear-gradient(#ffde77, #ffc342); background: linear-gradient(#ffde77, #ffc342); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde77', endColorstr='#ffc342');
text-shadow: 0 1px 0 #498f35; font-weight: bold; 
}
#mainSlideNav { display: block; padding-top: 10px; width: 110%; }
#mainSlideNav li { display: block; float: left; margin-right: 10px; line-height: 72px; width: 97px; text-align: center; font-size: 48px; text-shadow: 0 1px 0 #498f35; font-weight: bold; color: #000; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background: #fff; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff) to(#8aaadc)); background: -webkit-linear-gradient(#ffffff, #8aaadc); background: -moz-linear-gradient(#ffffff, #8aaadc); background: -ms-linear-gradient(#ffffff, #8aaadc); background: -o-linear-gradient(#ffffff, #8aaadc); background: linear-gradient(#ffffff, #8aaadc);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#8aaadc');
}
#mainSlideNav li.cur { color: #213759; text-shadow: 0 1px 0 #fd7; background: #ffde77; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffde77) to(#ffc342)); background: -webkit-linear-gradient(#ffde77, #ffc342); background: -moz-linear-gradient(#ffde77, #ffc342); background: -ms-linear-gradient(#ffde77, #ffc342); background: -o-linear-gradient(#ffde77, #ffc342); background: linear-gradient(#ffde77, #ffc342);  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde77', endColorstr='#ffc342');
}
#mainRgt .register { padding-top: 50px; clear: both; position: relative; }
#mainRgt .register .col1 { font-size: 24px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 24px; line-height: 45px; float: left; text-align:center; padding-right: 19px; }
#step1 p .col1 { width: 100%; }
#step2 p .col1 { width: 100%; }
#step3 p .col1 { width: 100%; }
#step4 p .col1 { width: 100%; }
#step5 p .col1 { width: 100%; }
#step5 .btn{margin-top:10px; background:#000000;}
#mainRgt .register .sel select { width: 100%; color: #213759; }
#mainRgt .register  p { display: block; height: 96px; padding: 0; }
#mainRgt .register  p .sel { background: #FFF; padding: 10px 7px 9px 7px; -webkit-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; display: block; float: left; width: 258px; height: 24px; }
#mainRgt .register p input { float: left; width: 252px; background: #fff; border: #fff; padding: 12px 10px; font-size: 16px; line-height: 18px; color: #213759; }
#mainRgt .register p .msg { display: block; padding-right: 0px; position: absolute; top: 53px; right: 27px; font-size: 14px; line-height: 16px; font-style: normal; }
#mainRgt .btn, a.search { position: relative; height: 59px; display: block; text-align: center; width: 343px; margin: 0 auto; line-height: 59px; color: #000; font-weight: bold; font-size: 36px; position: relative; -moz-border-radius: 5px / 7px; -webkit-border-radius: 5px / 7px; border-radius: 5px / 7px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; text-decoration: none; text-shadow: 0 1px 0 #; text-shadow: 0 1px 0 #ffedb8; clear: both; color: #213759; text-shadow: 0 1px 0 #fd7; background: #ffde77; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffde77) to(#ffc342)); background: -webkit-linear-gradient(#ffde77, #ffc342); background: -moz-linear-gradient(#ffde77, #ffc342); background: -ms-linear-gradient(#ffde77, #ffc342); background: -o-linear-gradient(#ffde77, #ffc342); background: linear-gradient(#ffde77, #ffc342); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde77', endColorstr='#ffc342'); }
#mainRgt .btn input { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; display: block;  opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; }
#mainRgt .btn, #mainRgt  a.search { line-height: 72px; height: 72px; font-size: 48px; width: 530px; }
#mainRgt .register { position: relative; height: 180px; }
#mainRgt .register div { position: absolute; left: 0px; top: 50px; width: 100%;   }  
#mainRgt #step2 .msg, #mainRgt #step3 .msg { right: 49px; }
#mainContBtm { clear: both; margin: 0 auto; width: 950px; }
#mainContBtm .title2 { display: block; padding: 0; font-weight: bold; text-align: center; font-size: 36px; height: 65px; line-height: 65px; }
#mainContBtm .btmTmbs li { display: block; float: left; margin-right: 10px; }
#mainContBtm .btmTmbs { width: 105%; display: block; }
#mainFtr { text-align: center; font-size: 14px; color: #171327; padding: 48px 0; clear: both; width: 950px; margin: 0 auto; }
#mainFtr ul { display: block; }
#mainFtr ul li { display: inline; }
#mainFtr ul li a { color: #171327; text-decoration: none;  }
#mainFtr ul li a:hover { color: #000;  text-decoration: underline;  }
/* Login/Retrieve
--------------------------------------------------------------*/
#joinForm { padding: 0 25px; height: 215px; }
#joinForm p { display: block; float: left; width: 100%; padding-bottom: 12px; padding-top: 0px; }
#joinForm p label { display: block; float: left; width: 93px; text-align: right; padding-right: 9px; line-height: 36px; font-size: 15px; }
#joinForm p .in2 { display: block; float: left; width: 248px; background:url(../images/join_form_input_bg_sel_med.html) no-repeat; }
#joinForm p .in2 input[type=text], #joinForm p .in2 input[type=password] { padding: 9px 8px; width: 238px; border: solid 1px #000; }
#mainLoginRight { float: left; width: 547px; padding-left: 12px; position: relative; left: 25px; height: 324px; margin-top: 26px; overflow: hidden; }
#joinForm form p input[type="checkbox"] { height: 14px; position: relative; top: 4px; margin-right: 6px; vertical-align: top; }
#joinForm form p.check { padding: 0px; font-size: 13px; position: relative; top: -4px; line-height: 20px; height: 22px; overflow: hidden; }
#joinForm .ret { display: block; text-align: center; padding-top: 16px; }
#joinForm .ret a { text-decoration: underline; color: #000; }
#joinForm .ret a:hover { text-decoration: none; }
#joinForm form .msg { display: block; padding: 0 25px; height: 62px; width: 324px; line-height: 14px; font-size: 12px; top: -5px; position: relative; color: #333333; }
#innerLeft { float: left; width: 462px; padding: 60px 0 0 0; }
#loginFormWrp { width: 422px; border: solid 3px #fff; -webkit-background-clip: padding-box; background-clip: padding-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #fff; padding-bottom: 14px; }
#loginFormWrp .title8 { display: block; background: #FFD150; font-family: "Cabin", "Helvetica Neue", Arial, "Nimbus Sans L", FreeSans; font-weight: 700; text-align: center; line-height: 60px; font-size: 28px; text-transform: uppercase; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; margin-bottom: 22px; color: #fff;  background: #4a8f35; background: -webkit-gradient(linear, 0 0, 0 100%, from(#87c260) to(#4a8f35)); background: -webkit-linear-gradient(#87c260, #4a8f35); background: -moz-linear-gradient(#87c260, #4a8f35); background: -ms-linear-gradient(#87c260, #4a8f35); background: -o-linear-gradient(#87c260, #4a8f35); background: linear-gradient(#87c260, #4a8f35); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c260', endColorstr='#4a8f35');
text-shadow: 0 1px 0 #498f35; }
.inner { background: #2c3d5b; }
#innerContent { width: 1000px; margin: 0 auto; }
#innerRight { float: left; color: #fff; font-family: "Cabin", "Helvetica Neue", Arial, "Nimbus Sans L", FreeSans; width: 538px; }
.title9 { display: block; font-size: 28px; padding-top: 55px; line-height: 30px; }
#innerRight .join { display: block; font-size: 15px; line-height: 22px; padding-top: 17px; }
#loginThumbs { width: 100%; display: block; }
#loginThumbs li { display: block; float: left; width: 109px; height: 109px;  }
#loginThumbs ul { display: block; width: 110%; }
.inner #mainFtr { clear: both; color: #fff;  }
.inner #mainFtr a { color: #fff;  }
.inner #mainFtr a:hover { color: #fff; }
#innerRight .join a { text-decoration: none; }
#innerRight .join a:hover { text-decoration: underline; }